#contactUs {
    font-family: 'Merriweather', serif;
    text-align: center;
   /* background:linear-gradient(90deg, rgba(114,249,219,1) 0%, rgba(178,250,235,1) 50%, rgba(114,249,219,1) 100%);*/
    background: #72f9db;
    padding: 10px 0;
    border-top: 3px solid #0E6655;
    
    
}
#contactUs > div{
    display: flex;
}

.contact{
    margin:10px auto;
}
.contact:nth(1){
    border: solid 1px black;
}

@media only screen and (max-width: 800px) {
    #contactUs > div{
    flex-direction: column;
    }
    
}

